.header {
  position: fixed;
  inset: 0 0 auto;
  z-index: 10;
  padding: 20px;
  background: var(--surface-dark);
}

.content {
  display: grid;
  gap: var(--space);
  width: min(1400px, 100%);
  margin: auto;
  padding: var(--space);
}

.content > section {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--space);
}

.chat > * {
  grid-column: span 2;
}

.chat > :first-child {
  grid-column: span 10;
}

.temperature > :first-child,
.other > :last-child {
  grid-column: span 3;
}

.temperature > :last-child,
.other > :first-child {
  grid-column: span 9;
}

@media (max-width: 850px) {
  .content > section > * {
    grid-column: 1 / -1 !important;
  }
}
