<div class="card card--hist">
    <div class="info" >
        <h2>MQ-2 AND MQ-7 GAS SENSORS</h2>
        <div class="gas-charts">
            <div class="mq7">
                <canvas id="mq7Chart" width="500" height="300"></canvas>
                <span>Current level</span>
                <span id="mq7Current" class="small-value">
                    --
                </span>
            </div>
            <div class="mq2">
                <canvas id="mq2Chart" width="500" height="300"></canvas>
                <span>Current level</span>
                <span id="mq2Current" class="small-value">
                    --
                </span>
            </div>
        </div>
    </div>
</div>